{% extends 'home/layout.html'%}


{% block main %}
  <div id="config">
    <form method="POST">
      {% csrf_token %}

      <fieldset>
        <input list="stations" name="stop">
        <datalist v-for="station in stationList">
          <option value="station"></option>
        </datalist>
      </fieldset>

      <fieldset>
        <select name="type">
          <option v-for="(value, key) in categories" :value="value">
            {[ key ]}
          </option>
        </select>
      </fieldset>
  
      <input type="submit" value="Find">
    </form>

    <ul>
      <li>{[ station ]}</li>
      <li>{[ type ]}</li>
    </ul>
  <div>
  
{% endblock %}


{% block js %}
  <script>
    let stops = {{ Jnames|safe }};
    let stations = {{ Jstations|safe }};
    let categories = {{ Jcategories|safe }};

    let config = new Vue({
      delimiters: ['{[', ']}'],
      el: '#config',
      data: {
        station: '',
        stationList: stations,

        categories: categories,

        errors: {
          station: false,
        }
      }
    })
  </script>
{% endblock %}