astroid==2.2.5
beautifulsoup4==4.7.1
certifi==2019.3.9
chardet==3.0.4
Django==2.2
idna==2.8
isort==4.3.16
lazy-object-proxy==1.3.1
lxml==4.3.3
mccabe==0.6.1
numpy==1.16.2
pandas==0.24.2
pylint==2.3.1
python-dateutil==2.8.0
pytz==2018.9
pyzomato==0.5
requests==2.21.0
six==1.12.0
soupsieve==1.9
sqlparse==0.3.0
typed-ast==1.3.1
urllib3==1.24.1
wrapt==1.11.1
