{% extends 'home/layout.html'%}

{% block main %}
<form method="POST">
    {% csrf_token %}
    <fieldset>
      <label for="station">Pick Your Station</label>
      <input list="stations" name="stop">
      <datalist id="stations">
        <option v-for="s in stopNames" value="[[ s ]]"></option>
      </datalist>
    </fieldset>

    <fieldset>
      <label for="type">Type of outing:</label>
      <select name="type">
        {% for category in categories %}
          <option value="{{ category.0 }}">{{ category.1 }}</option>
        {% endfor %}
      </select>
    </fieldset>

    <input type="submit" value="Find">
  </form>
  
{% endblock %}
